{% extends "layout.html" %}
{% block content %}

<div class="mt-5">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data de lançamento</th>
                <th scope="col">Código</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
            <tr>
                <td><a class="link-info" href="episodes/{{episode.id}}">{{episode.name}}</a></td>
                <td>{{episode.air_date}}</td> 
                <td>{{episode.episode}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
